#app {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(116, 116, 116);
}

#game {
  position: relative;
  margin: 0 auto;
}
#game-window {
  height: 100vh; 
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#tetris-board {
  height: 64vh;
  top: 21.2vh;
  left: 38.4vh;
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
